@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.js-cookie-consent {
    @apply fixed bottom-12 right-4 flex items-end justify-center px-4 py-6 sm:p-6 bg-white max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden
}

.js-cookie-consent span {
}

.js-cookie-consent button {
    @apply underline
}

.text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

.heading-permalink {
    visibility: hidden;
}

.table-of-contents {
    @apply mt-4 space-y-3 text-sm;
}

.table-of-contents a {
    @apply text-sky-500;
}

.table-of-contents li ul {
    @apply mt-2 space-y-3 pl-5 text-slate-500 dark:text-slate-400;
}

#post {

    h1 {
        @apply mt-2 block text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl
    }

    h2 {
        @apply text-2xl font-bold my-3
    }

    h3 {
        @apply text-xl font-bold my-2
    }

    img {
        @apply w-full rounded-lg
    }

}

#book {

    h1 {
        @apply text-3xl tracking-tight text-slate-900 dark:text-white;
    }

    h2 {
        @apply text-2xl font-bold my-3
    }

    h3 {
        @apply text-xl font-bold my-2
    }

    h4 {
        @apply text-lg font-bold my-2
    }

    h5 {
        @apply text-base font-bold my-2
    }

    h6 {
        @apply text-sm font-bold my-2
    }

    a {
        @apply text-sky-500;
    }

    a:hover {
        @apply underline;
    }
}