@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.js-cookie-consent {
    @apply fixed bottom-12 right-4 flex items-end justify-center px-4 py-6 sm:p-6 bg-white max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden
}

.js-cookie-consent span {
}

.js-cookie-consent button {
    @apply underline
}

.text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

.heading-permalink {
    visibility: hidden;
}

.table-of-contents {
    @apply mt-4 space-y-3 text-sm;
}

.table-of-contents a {
    @apply font-normal text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-300;
}

.table-of-contents li ul {
    @apply mt-2 space-y-3 pl-5 text-slate-500 dark:text-slate-400;
}

#post {

    img {
        @apply w-full rounded-lg
    }

}